body{
    text-align: center;
    background-color: cadetblue;}

h1, button{
    font-family: 'Berkshire Swash', cursive;
    color: white;}

.square{
    width: 100px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.7);
    border: 1px solid black;
    display: inline-block;}

.square:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.o{
    position: relative;}

.o:after{
    content: "\2B55";
    font-size: 70px;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;}

.x{
    position: relative;}

.x:after{
    content: "\274C";
    font-size: 70px;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

button{
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    margin-top: 5px;
    background: none;
    border: none;}

button:hover{
    font-size: 38px;
    transition: 0.2s ease;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.7);}